<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://image1.guazistatic.com/Users/ios/builds/cf5e0785/0/liushaohua2/bi_ios-polaris_prvi/Package/GZBIReportView-20181011_150148/GZBIReportView_v1.0.0_20181011_150148.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>
http://app.guazistatic.com/77db49aedc27209f8e4cb050aef8b75d/gzbjx_icon.png
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>title</key>
<string>北极星</string>
<key>bundle-version</key>
<string>1.0.5.0</string>
<key>kind</key>
<string>software</string>
<key>bundle-identifier</key>
<string>com.guazi.GZBIPolaris</string>
</dict>
</dict>
</array>
</dict>
</plist>
